footer {
  background-image: linear-gradient(to right, #2430E7 , #4a02cc);
  color: white;
  text-align: center;
  padding: 40px 0;
}
.copy-right {
  font-size: 18px;
}
.footer-text {
  font-size: 16px;
}